.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    background-color: #f7ef79
    ;
}
.topbar {
    display: flex;
    flex-direction: column;
}